
.yn-finish-task-cb-input {
	display:none !important;
}

.yn-td-archive {
	display:none !important;
}

.yn-group-kanban-view-name, 
.yn-group-list-view-name, 
.yn-group-card-view-name
{
  cursor: pointer;
{